# man pages are created by roxygenize
man/*

.Rproj.user
.Rhistory
.RData

# Example code in package build process
*-Ex.R

Rplots.pdf

# backups
*.bak

# RStudio and Winedt
*.Rproj
.Rbuildignore
*.prj
