export(.graphparams)
export(.plotoptions)
export(.plotparams)
export(alphacol)
export(is.style)
export(lplot)
export(matching)
export(splot)
export(style)
export(updateJoin)
export(updateList)
export(updateMissing)
export(updateNULLs)
