S3method(rangexy,default)
export(.graphparams)
export(.plotoptions)
export(.plotparams)
export(alphacol)
export(classesWithMethod)
export(is.style)
export(lplot)
export(matching)
export(rangexy)
export(splot)
export(style)
export(summaryplot)
export(updateJoin)
export(updateList)
export(updateMissing)
export(updateNULLs)
