S3method(rangexy,default)
export("firstclass<-")
export(.graphparams)
export(.plotoptions)
export(.plotparams)
export(alphacol)
export(classesWithMethod)
export(is.simplist)
export(lplot)
export(matching)
export(ploptions)
export(rangexy)
export(simplist)
export(splot)
export(summaryplot)
export(updateJoin)
export(updateList)
export(updateMissing)
export(updateNULLs)
